* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
/*  Header Start */

#navbar_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 60px;
    width: 100%;
  
    position: fixed;
    z-index: 1;
}
.active  {
    background-color: rgb(0, 128, 0);
    border: 0px solid gainsboro;
    box-shadow: 0px 0px 30px rgb(219, 219, 219);
    transition: 0.7s;
}
#logo {
    flex: 50%;
    
}
#logo a {
    text-decoration: none;
    color: white;
}
#logo p {
    text-align: center;
    font-size: 25px;
    margin: 15px 0px;
}
#navlinks {
    flex: 45%;
    
}
#navlinks li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
#navlinks li a{
    text-decoration: none;
    color: white;
}
#navlinks ul {
    margin: 10px 0px;
}
#navlinks ul:hover {
    margin: 10px 0px;
}
#navlinks li:hover{
    background-color: rgb(220, 220, 220, 0.3);
    padding: 10px 20px;
    border-radius: 5px;
}

#navicon {
    flex: 5%;
}
#navicon i {
    font-size: 25px;
    color: white;
    cursor: pointer;
}
#navicon button {
    background-color: transparent;
    margin: 15px 0px;
    border: none;
    outline: none;
    display: none;
}

#btn_navlinks {
    display: none;
    background:linear-gradient(to bottom, green, black);
    position: relative;
    top: 0px;
    height: 440px;
    width: 100%;
    
}
#btn_navlinks li {
    text-align: center;
    list-style-type: none;
    padding: 10px;
    margin: 40px 0px;
}
#btn_navlinks li a {
    color: white;
    text-decoration: none;
}
#btn_navlinks li:hover {
    background-color: rgb(220, 220, 220, 0.3);
}
@media only screen and (max-width:1340px) {
    #logo {
        flex: 30%;
    }
    #navlinks {
        flex: 65%;
       
    }
    
    #navicon {
        flex: 5%;
    }
}
@media only screen and (max-width:962px) {
    #navicon button {
        display: block;
    }
    #navlinks li {
        display: none;
    }
    #logo {
        flex: 90%;
    }
    #navlinks {
        flex: 0%;
        display: none;
    }
    #navicon {
        flex: 10%;
    }
}

@media only screen and (max-height:40px) {
  #navbar_container {
    background-color: red;
  }
}

/*  Header End */

/* Image Section Start */

#image_container {
    height: 500px;
    width: 100%;
    background-image:url(2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  
   
}
#details_container {
    height: 500px;
    width: 100%;
    border: 1px solid transparent;
    background-color: rgba(0, 0, 0, 0.5);
   
}
#inner_dp {
    height: 160px;
    width: 160px;
    border: 2px solid white;
    margin: 120px auto 0px auto;
   border: 5px solid rgb(0, 0, 0, 0.5);
   border-radius: 50%;
    box-shadow: 0px 0px 20px black;
}
#mydp_image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    
}
#name {
    font-size: 60px;
    color: white;
}
#skill {
    font-size: 30px;
    color: white;
}
#container_of_btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80px;
    width: 100%;
  
}
#part1 {
    flex: 50%;
}
#part2 {
    flex: 50%;
}


#part1 button, #part2 button {
    height: 60px;
    width: 280px;
    background-color: rgb(0, 151, 0);
    margin: 5px 30px;
    border: 0px;
    border-radius: 15px;
    
}
#part1 button:hover, #part2 button:hover {
    width: 290px;
    transition: 0.4s;
}

#part1 button a, #part2 button a {
   color: white;
   text-decoration: none;
   font-size: 30px; 
}
@media only screen and (max-width:768px) {
    #name {
        font-size: 30px;
    }
    #skill {
        font-size: 20px;
    }
    #inner_dp {
        height: 110px;
        width: 110px;
    }
    #mydp_image {
        height: 100px;
        width: 100px;
    }
    #container_of_btn {
        height: 50px;
    }
    #part1 button, #part2 button {
        height: 40px;
        width: 140px;
    }
    #part1 button a, #part2 button a {
        font-size: 20px;
    }
    #part1 button:hover, #part2 button:hover {
        width: 200px;
        transition: 0.4s;
    }
    
}

#socialicon_section {
    height: 80px;
    width: 100%;
   
    position: relative;
    top: -30px;
}
#socialicon_section a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 15px;
}
#socialicon_section p {
    height: 60px;
    width: 60px;
    display: inline-block;
    background-color: gray;
    border: 0px;
    border-radius: 50%;
 
   margin: 10px 5px;
}
#socialicon_section p:hover {
    background-color: rgb(146, 146, 146);
}

/* Image Section Start */



/* Main Section Start */

#main_section {
    height: 320px;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
    margin: 50px auto 0px auto;
    box-shadow: 0px 0px 30px gainsboro;
    border-radius: 10px;
}
#first {
    flex: 50%;
    height: 260px;
    
}
#second {
    flex: 50%;
    height: 280px;
   
}
#table_container {
    height: 220px;
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}
#table_container h3 {
    color: rgb(0, 0, 0, 0.8);
    font-size: 20px;
}
#table_container p {
    color:rgba(90, 90, 90, 0.8);
    
}
#table1_rowone, #table1_rowtwo, #table1_rowthree, #table1_rowfour, #table1_rowfive {
    flex: 100%;
  
}

#second h1, #first h1 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0, 0.8);
    margin: 10px 0px 10px 20px;
    
}
#second p, #second h3 {
    display: inline-block;
}
#first p, #second #table_container {
    margin: 10px 0px 10px 20px;
}
#first p {
    font-size: 22px;
    color: rgba(90, 90, 90, 0.8);
}
#first p a {
    text-decoration: none;
    color: green;
}

@media only screen and (max-width:1300px){
    #second p, #second h3 {
        display: block;
    }
}
@media only screen and (max-width:963px){
   #first, #second {
       flex: 100%;
       height: 280px;
   }
   #main_section {
       height: 600px;
   }
   #table_container {
       width: 90%;
   }
}
@media only screen and (max-width:610px){

    #main_section {
        height: 900px;
    }
    #first {
        height: 350px;
    }
    #first p {
        line-height: 40px;
    }
    #second {
        flex: 100%;
        height: 360px;
    }
    #second {
        margin-top: 80px;
    }
 }
 @media only screen and (max-width:435px){
    #first p {
        line-height: 25px;
    }
 }

 @media only screen and (max-width:400px){
    #main_section {
        height: 930px;
    }
    #first {
        height: 480px;
    }

 }

 @media only screen and (max-width:250px){
    #main_section {
        height: 1000px;
    }
    #first {
        height: 500px;
    }
 }

#proskil {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 150px auto 20px auto;
    color: rgb(0, 0, 0, 0.8);
}
#skillbar {
    height: 250px;
    width: 90%;
    border: 0px solid gainsboro;
    box-shadow: 0px 0px 30px gainsboro;
    border-radius: 10px;
  margin: auto;
  padding: 10px;
}

#skill_container {
    height: 230px;
    width: 95%;
  
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#skill_one {
    flex: 50%;
    height: 230px;
    
}

#skill_two {
    flex: 50%;
    height: 230px;
    
}

#disk_a, #disk_b, #disk_c {
    width: 95%;
    border-radius: 0px;
    box-shadow: none;
}
#skill_one p, #skill_two p {
    display: inline-block;
    font-size: 18px;
    color: rgb(0, 151, 0);
    font-family: Arial, Helvetica, sans-serif;
}
#skill_one p:nth-child(even), #skill_two p:nth-child(even) {
    float: right;
    margin-right: 25px;
}
#skill_one div, #skill_two div {
    margin: 30px auto;
}


@media only screen and (max-width:963px) {
    #skill_one, #skill_two {
        flex: 100%;
    }
    #skillbar {
     height: 480px;
    }
    #proskil {
        margin-top: 50px;
    }
}

#h1forgallery {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 150px auto 20px auto;
    color: rgb(0, 0, 0, 0.8);
}

#galleryicon_section {
    height: 80px;
    width: 100%;
}

#galleryicon_section a {
    text-decoration: none;
    color: gray;
    font-size: 30px;
    
    padding: 15px;
}
#galleryicon_section p {
    height: 60px;
    width: 60px;
    display: inline-block;
    background-color: rgb(238, 238, 238);
    border: 0px;
    border-radius: 50%;
   margin: 10px 10px;
}

#gallery_image_container1 {
    height: 800px;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px auto;
  
  
}
#first_gallery_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 400px;
    width: 100%;
  
    padding: 10px;
    filter: brightness(50%);
}
#second_gallery_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 400px;
    width: 100%;
  
    padding: 10px;
    filter: brightness(50%);
}

#first_gallery_container div, #second_gallery_container div {
    height: 380px;
    flex: 50%;
  
    padding: 10px;
}
.gallery_images {
    height: 360px;
    width: 100%;
    border: 0px;
    box-shadow: 0px 0px 10px gainsboro;
}
#inner_gallery_div {
    height: 800px;
    width: 100%;
  
    position: relative;
    bottom: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   filter: brightness(100%);
}
#inner_gallery_part1, #inner_gallery_part2 {
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 100%;
  
}

#inner_gallery_part1 div {
    height: 380px;
    flex: 50%;
   

}
#inner_gallery_part2 div {
    height: 400px;
    flex: 50%;
  
}
#text_container {
    height: 300px;
    width: 90%;
    margin: auto;
    
   color: white;
  
    }
#text_container h3 {
    text-align: center;
}
    #text_container h1 {
        text-align: center;
        margin: 150px auto 10px auto;
       
    }
    #gallery_image_container2 {
        height: 800px;
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 40px auto;
 
      
    }
 

        #gallery_image_container3 {
            height: 800px;
            width: 90%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 40px auto;
    
          
        }
      #text_container:hover {
          color: rgb(55, 236, 55);
          cursor: pointer;
      }

          #gallery_image_container1, #gallery_image_container2 {
              display: none;
          }
          @media only screen and (max-width:1200px) {
            #text_container:hover {
                color: white;
                cursor: pointer;
            }
          }
    @media only screen and (max-width:890px) {
       #gallery_image_container1, #gallery_image_container2, #gallery_image_container3 {
           height: 1600px;
       }
       #first_gallery_container div, #second_gallery_container div  {
           flex: 100%;
           height: 800px;
       }
       #inner_gallery_part1 div {
        height: 800px;
        flex: 100%;
       }
       #inner_gallery_part2 div {
        height: 800px;
        flex: 100%;
       }
        #text_container:hover {
          color: white;
          cursor: pointer;
      }
    }


    @media only screen and (max-width:768px) {
        #text_container h3 {
            font-size: 15px;
        }
            #text_container h1 {
                font-size: 25px;
                margin-left:45px;
                margin-right: 45px;
            }
      }



/* Main Section End */